aitextgen
blis==0.7.4
catalogue==2.0.3
certifi==2020.12.5
chardet==4.0.0
click==7.1.2
cymem==2.0.5
fastapi==0.63.0
Flask==1.1.2
Flask-Cors==3.0.9
h11==0.12.0
idna==2.10
itsdangerous==1.1.0
Jinja2==2.11.2
joblib==0.17.0
MarkupSafe==1.1.1
murmurhash==1.0.5
nltk==3.5
numpy==1.20.2
packaging==20.9
pathy==0.5.2
preshed==3.0.5
pydantic==1.7.3
pyparsing==2.4.7
regex==2020.10.28
requests==2.25.1
six==1.15.0
smart-open==3.0.0
spacy==3.0.6
spacy-legacy==3.0.5
srsly==2.4.1
starlette==0.13.6
thinc==8.0.3
tqdm==4.51.0
transformers
typer==0.3.2
urllib3==1.26.4
uvicorn==0.13.4
wasabi==0.8.2
Werkzeug==1.0.1
